* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle, rgb(243, 247, 247) 50%, rgb(175, 181, 182) 100%);
}

.headline {
  height: 10vh;
  position: relative;
  background: linear-gradient(to bottom, rgba(206,219,233,1) 0%,rgba(170,197,222,1) 0%,rgb(111, 162, 204) 0%,rgb(106, 171, 228) 25%,rgba(65,154,214,1) 42%,rgb(110, 205, 252) 71%,rgb(88, 153, 196) 94%,rgba(38,85,139,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Russo One', sans-serif;
  font-size: 50px;
  color: aliceblue;
}

.side-title {
  margin: 10px;
  font-family: 'Russo One', sans-serif;
  font-size: 45px;
  color: rgb(0, 136, 255);
  text-align: center;
}

.mainContain {
  display: flex;
  justify-content: flex-start;
}

.sidebar {
  width: 30vw;
  height: 90vh;
  position: relative;
  border-right: 2px solid rgba(88, 88, 88, 0.685) ;
}

.mainBody {
  width: 70vw;
  height: 90vh;
  position: relative;
}

.searchfield {
  display: inline-block;
  padding-left: 10px;
}

.search-box {
  height: 25px;
  font-size: 20px;
  font-family:Arial, Helvetica, sans-serif;
}

.navbtn {
  margin-left: 10px;
  width: 50px;
  height: 30px;
}

.newbtn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
}

.mainBody {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title-input {
  height: 50px;
  width: 95%;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
}

.body-input {
  height: 80%;
  width: 95%;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
}

